SECRET_KEY=change-ad1294@0INJO
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=webhook_platform
POSTGRES_USER=webhook_platform
POSTGRES_PASSWORD=webhook_platform
DATABASE_URL=postgres://webhook_platform:webhook_platform@db:5432/webhook_platform
REDIS_URL=redis://redis:6379/0
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://localhost:3000
